.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.firebase*
firebase*

node_modules/

.idea

coverage
*.lcov

.eslintcache

.env
.env.test

.vercel

.DS_Store

tmp

benchmarking/compare/.results