:root {
    --bg-color: #f5f5f5;
    --text-color: #333333;
    --header-bg-color: #e0e0e0;
    --footer-bg-color: #e0e0e0;
}

body.dark-mode,
#header.dark-mode,
#footer.dark-mode {
    --bg-color: #333333;
    --text-color: #f5f5f5;
    --header-bg-color: #333333;
    --footer-bg-color: #333333;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

#header {
    background: var(--header-bg-color);
    color: var(--text-color);
    padding: 16px;
    text-align: center;
}

#header h1 {
    margin: 0;
    font-size: 24px;
}

#header button {
    margin: 0;
    font-size: 12px;
    position: absolute;
    top: 16px;
    right: 16px;
}

#content {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

#content h2 {
    margin-top: 0;
}

#content p {
    margin-bottom: 16px;
}

#footer {
    background: var(--footer-bg-color);
    color: var(--text-color);
    padding: 16px;
    text-align: center;
}

#footer p {
    margin: 0;
}

/* Left align */
.div-left {
    display: flex;
    justify-content: flex-start;
}

/* Right align */
.div-right {
    display: flex;
    justify-content: flex-end;
}

/* Center align */
.div-center {
    display: flex;
    justify-content: center;
}

.circle-lefthalf-filled {
    width: 24px;
    height: 24px;
    background-image: url('icons/circle.lefthalf.filled.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

.circle-righthalf-filled {
    width: 24px;
    height: 24px;
    background-image: url('icons/circle.righthalf.filled.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}
